<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js"></script>
</head>


<body>


    {{>header}}
    <h1>{{errorTitle}}</h1>
    <h2>{{errorSubTitle}}</h2>
    <p>{{errorText}}</p>
    {{>footer}}


</body>

</html>