<!-- 
    Hangi dosyadan çağırılırsa o dosyaya gönderilen title değerini gösterir
-->

<head>

    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js"></script>
</head>

<header>
    <a href="/">Weather</a>
    <a href="/about">About Page</a>
    <a href="/help">Help Page</a>
    <h1>{{title}}</h1>
</header>
